<html>
<head>
<style>
body {
background-color: #F0FFF0;
}
</style>
</head>

<p>In the midst of a sharp increase in global fertilizer prices, Finance Minister Nirmala Sitharaman announced on Saturday that the government 
will provide an additional fertilizer subsidy of Rs 1.10 lakh crore to farmers to help them cope with the price increase.


With this, the government's total fertilizer subsidy is expected to reach a new high of Rs 2.15 lakh crore in the current fiscal year 2022-23.

"Despite rising fertilizer prices around the world, we have shielded our farmers from such increases. In addition to the fertilizer subsidy of
 Rs 1.05 lakh crore included in the Budget, an additional amount of Rs 1.10 lakh crore is being provided to help our farmers " Sitharaman took to Twitter.

In the 2022-23 Budget, the fertilizer subsidy bill was estimated to be Rs.1.05 lakh crore. In 2021-22, it was Rs 1,62,132 crore.
</p>
</html>