<html>
<head>
<style>
body {
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}
</style>
</head>
<body >
<ul>
<a href="info1.html"><li>Subsidy on DAP hiked by 140 percent; Farmers will continue to get a DAP bag for Rs 1200</li></a><br>
<a href="info3.html"><li>Government Plans Rs 1 trillion Subsidy on Fertilizers in the Next Fiscal Year</li></a><br>
<a href="info2.html"><li>Center Announces Fertilizer Subsidy of Rs 1.10 lakh Crore for FY 22-23</li></a><br>
<a href="info.html"><li> subsidy per bag of fertilizer</li></a><br>
</ul>
</body>
</html>